* {
 margin: 0;
 padding: 0;
}
header {
  display: flex;
  background-color: #008b8b;
  align-items: center;
  color: #fff;
}
.header-logo {
  color: #fff;
  font-size: 25px;
  margin-right: auto;
  padding: 15px;
}
.header-list li {
  display: inline-block;
  list-style: none;
  color: #fff;
  font-size: 25px;
  padding: 10px;
}
.header-list a {
  text-decoration: none;
  color: #FFf;
}
u {
  color: red;
  margin-top: 50px;
  text-align:center;
}

@media screen and (min-width: 481px) {
  img {
    max-width: 100%;
  }
}
